.navbar {
	padding: .5rem 1.5rem;
}

.main-div {
	width:90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
}

.search-bar {
	width:100%;
	padding: 0;
	display:inline-block;
	margin:auto;
}

.store-inventory {
	margin:auto;
	width:100%;
}

.dropdown {
	display:inline-block;
	margin-left: 0.5rem;
}

.form-check {
	padding: 0.4rem 0rem 0.4rem 2rem;
}

.pet-info-small {
	text-align: center;
	margin-top:1rem;
	margin-bottom:2rem;
}

.col-3 {
	display: flex;
	flex-direction: column;
	min-height: 10rem;
}

.pet-thumbnail-small {
	min-width:16rem;
	min-height:14rem;
	max-height:14rem;
	max-width:16rem;
	margin: 1rem 0 1rem 0;
	flex: 1;
}

.pet-thumbnail-div {
	flex: 1;
}

.pet-info-name {
	margin-bottom: 0;
}

.pet-info-button {
	margin: 0 1.2rem 0 1.2rem;
}

.left-arrow, .right-arrow {
	width: 1rem !important;
    height: 1rem;
}