.navbar {
	padding: .5rem 1.5rem;
}

.main-div {
	width:90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
}

.navbar-collapse {
	flex-basis: 0;
	display: inline-block;
}

.navbar-nav {
	flex-direction: row;
}

.nav-item {
	margin: 0 .8rem 0 .8rem;
}

.search-bar {
	width:100%;
	padding: 0;
	display:inline-block;
	margin:auto;
}

.store-inventory {
	margin:auto;
	width:100%;
}

.dropdown {
	display:inline-block;
	margin-left: 0.5rem;
}

.form-check {
	padding: 0.4rem 0rem 0.4rem 2rem;
	font-size: .8rem;
}

.form-check-input {
	cursor: pointer;
}

.pet-info-small {
	text-align: center;
	margin-top:1rem;
	margin-bottom:2rem;
}

.col-3 {
	display: flex;
	flex-direction: column;
	min-height: 10rem;
}

.pet-thumbnail-small {
	min-width:16rem;
	min-height:14rem;
	max-height:14rem;
	max-width:16rem;
	margin: 1rem 0 1rem 0;
	flex: 1;
}

.pet-thumbnail-div {
	flex: 1;
}

.pet-info-name {
	margin-bottom: 0;
}

.pet-info-button {
	margin: 0 1.2rem 0 1.2rem;
	border-radius: 0;
}

.left-arrow, .right-arrow {
	width: 1rem !important;
    height: 1rem;
}

.pet-modal-img {
	height: 8rem;
    width: 10rem;
}

.p-without-margin-bottom {
	margin-bottom: 0;
}

.p-few-margin-bottom {
	margin-bottom: .2rem;
}

.pet-order-image {
	width:26rem;
	height:24rem;
}

.pet-order-image-div {
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
}

.div-inline-block {
	display:inline-block;
	flex:1;
}

.pet-order-details {
	margin-left:2rem;
	position: relative;
}

.pet-order-body {
	margin-top: 4rem;
	font-size: 1.4rem;
	display:flex;
}

.pet-order-buy-button {
	position: absolute;
 	bottom: 0;
 	right: 4rem;
}

.arrows {
	height: 10rem;
}

.logo-image {
	width: 8rem;
	height: 8rem;
	margin-left: auto;
}

.logo-div {
	display:flex;
}
.pet-span {
	font-size: 2.8rem;
	height: 8rem;
    display: flex;
    align-items: center;
    margin-right: auto;
    padding-right: 1rem;
}

.login-div-body {
    margin-top: 1rem;
}

.login-div {
	width:30%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
	padding-bottom: 1rem;
}

.input-login {
    width: 21rem;
    margin: auto;
    margin-top: 1.1rem;
}

.login-button {
	width:100%;
	margin-top: .3rem;
	height: 3rem;
}

.field-error,
.field-error-email,
.field-error-login {
	color: red;
	font-size: .8rem;
	width: 21rem;
	text-align: left;
	margin: auto;
	padding-left: .5rem;
}

.inline-block {
	display: inline-block;
}

.display-none {
	display:none;
}

.signup-form .form-group {
	text-align: center;
}

.no-padding {
	padding: 0;
}

.signup-form {
	width: 70%;
	margin : auto;
	margin-top : 2rem;
}

.padding-3 {
	padding: 3rem;
}

