.page-link {
	color: rgba(0,0,0,.9);
}

.bold {
	font-weight: bold;
}

.pet-info-category {
	text-transform: capitalize;
}


.left-arrow, .right-arrow {
	color: #6c757d;
	cursor: pointer;
}

.pet-title {
	text-align:center;
}

.pet-body {
	text-align:left;
}

.red-font {
	color: red;
}

.login-button {
	border-radius: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.ng-invalid-required.ng-dirty:not(form),
.ng-invalid-email.ng-dirty:not(form) {
	border: 0.5px solid rgba(255, 0, 0, .3) !important;
}

.ng-valid ~ .field-error,
.ng-invalid ~ .field-error {
	opacity : 0;
}

.ng-invalid.ng-dirty ~ .field-error {
	opacity : 1;
}

.ng-invalid-required.ng-dirty.input-email ~ .field-error,
.ng-invalid-email.ng-dirty ~ .field-error-email,
.ng-invalid.ng-dirty + .field-error-login {
	display: block;
}


.ng-invalid.input-email ~ .field-error,
.ng-valid-email ~ .field-error-email,
.ng-invalid-email ~ .field-error-email,
.ng-valid ~ .field-error-login,
.ng-invalid ~ .field-error-login {
	display:none;
}

.link {
	color: rgba(0,0,0,.9);
    cursor: pointer;
}

.incorrect-credentials {
	color:red;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #abacad;
    border-color: #ced4da;
}

.page-item:last-child .page-link, 
.page-item:first-child .page-link {
	border-radius: 0;
}

.search-order-button {
	margin-left: 1rem;
    border-radius: 0;
}

.margin-top {
	margin-top: 2rem;
}

.order-not-found {
	color:red;
}

.center-flex {
	align-items: center;
    justify-content: center;
}

.little-padding {
	padding-right: 2px;
    padding-left: 2px;
}

.align-right {
	text-align: right;
}

.signup-button {
	border-radius: 0;
	/*text-transform: uppercase;*/
	margin-left: .8rem;
}

.margin-top-3 {
	margin-top: 3rem;
}

.margin-bottom-3 {
	margin-bottom: 3rem;
}

.center {
	text-align: center;
}

.width-30 {
    width: 30rem;
}

.no-border-radius {
	border-radius: 0;
}

.margin-auto {
	margin: auto;
}

.text-left {
	text-align: left;
}

.font-size-8 {
	font-size: .8rem;
}

.order-enviado {
	color:#ffbe19;
}

.order-entregue {
	color:#008927;
}