.page-link {
	color: rgba(0,0,0,.9);
}

.bold {
	font-weight: bold;
}

.pet-info-category {
	text-transform: capitalize;
}


.left-arrow, .right-arrow {
	color: #6c757d;
	cursor: pointer;
}

.pet-title {
	text-align:center;
}

.pet-body {
	text-align:left;
}

.red-font {
	color: red;
}

.login-button {
	border-radius: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.ng-invalid.ng-dirty.input-username,
.ng-invalid.ng-dirty.input-password {
	border: 0.5px solid rgba(255, 0, 0, .3);
}

.link {
	color: rgba(0,0,0,.9);
    cursor: pointer;
}

.incorrect-credentials {
	color:red;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #abacad;
    border-color: #ced4da;
}

.page-item:last-child .page-link, 
.page-item:first-child .page-link {
	border-radius: 0;
}