.page-link {
	color: rgba(0,0,0,.9);
}

.bold {
	font-weight: bold;
}

.pet-info-category {
	text-transform: capitalize;
}


.left-arrow, .right-arrow {
	color: #6c757d;
	cursor: pointer;
}

.pet-title {
	text-align:center;
}