<meta content="text/html; charset=UTF-8">
<html>
<head>
	<title>PetStore</title>

	<!-- Bootstrap css import -->
	<link rel="stylesheet" href="lib/bootstrap-4.0.0/css/bootstrap.min.css">


	<link rel="stylesheet" href="css/module.css">
	<link rel="stylesheet" href="css/theme.css">
</head>
<body ng-app='app'>
	<div ng-controller='AppController as appCtrl'>
		<!-- Menu -->
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="#/">
				 <img src="images/paw.png" width="35" height="30" class="d-inline-block align-top" alt="">
				PetStore
			</a><meta charset="UTF-8">
			<div class="collapse navbar-collapse" id="navbarNav" ng-show="currentUser">
			    <ul class="navbar-nav">
			      <li class="nav-item" ng-class="appCtrl.activeClass[0]" ng-click='appCtrl.changeActiveClass(0)'>
			        <a class="nav-link" href="#/">Home</a>
			      </li>
			      <li class="nav-item" ng-class="appCtrl.activeClass[1]" ng-click='appCtrl.changeActiveClass(1)'>
			        <a class="nav-link" href="#/searchOrder/" >Pedidos</a>
			      </li>
			    </ul>
			  </div>
			<span class="navbar-text" ng-hide="currentUser">
		    	<a href="#/signup">Cadastre-se</a> ou faça <a href="#/login/home">login</a>.
		    </span>
		    <span class="navbar-text" ng-show="currentUser">
		    	Olá, {{currentUser.firstName}}! |
		    	<span ng-click="appCtrl.logout()" class="link">Sair do sistema</span>
		    </span>
		</nav>

		<!-- Page content -->
		<ng-view></ng-view>
	</div>

	<!-- Angular imports -->
	<script src="lib/angular-1.2.32/angular.min.js"></script>
	<script src="lib/angular-1.2.32/angular-route.min.js"></script>
	<script src="lib/angular-1.2.32/angular-resource.min.js"></script>
	<script src="lib/angular-1.2.32/angular-storage.min.js"></script>

	<!-- jQuery import -->
	<script src="lib/jquery-3.3.1/jquery.js"></script>

	<!-- Bootstrap js import -->
	<script src="lib/popper-1.11.0/umd/popper.min.js"></script>
	<script src="lib/bootstrap-4.0.0/js/bootstrap.min.js"></script>

	<!-- Font Awesome icons import -->
	<script src="lib/font-awesome-5.0.4/fontawesome-all.min.js"></script>

	<script src="js/app.module.js"></script>
	<script src="js/app.config.js"></script>
	<script src="js/app.routes.js"></script>
	<script src="js/services/pets.js"></script>
	<script src="js/services/petsHttp.js"></script>
	<script src="js/directives/filterPets.js"></script>
	<script src="js/controllers/app.js"></script>
	<script src="js/controllers/pets.js"></script>
	<script src="js/controllers/make-order.js"></script>
	<script src="js/controllers/order-placed.js"></script>
	<script src="js/controllers/search-order.js"></script>
	<script src="js/controllers/login.js"></script>
	<script src="js/controllers/signup.js"></script>
</body>
</html>