<div ng-controller='MakeOrderController as mOrderCtrl' class="main-div">
	<h2 class="pet-title">Detalhes da compra</h2>
	<div class="pet-order-body">
		<div class="pet-order-image-div col-5 offset-1">
			<div class='div-inline-block' ng-click='mOrderCtrl.changeImage("prev")' ng-style="mOrderCtrl.hideArrows('prev')"><i class="left-arrow arrows fa fa-angle-left" aria-hidden="true"></i></div>
			<img ng-src="{{mOrderCtrl.pet.photoUrls[mOrderCtrl.photoIndex]}}" class="pet-order-image">
			<div class='div-inline-block' ng-click='mOrderCtrl.changeImage("next")' ng-style="mOrderCtrl.hideArrows('next')"><i class="right-arrow arrows fa fa-angle-right" aria-hidden="true"></i></div>	    	
		</div>
		<div class="pet-order-details div-inline-block col-5">
			<p class="p-few-margin-bottom"><span class='bold'>Nome: </span> {{mOrderCtrl.pet.name}}</p>
	        <p class="pet-info-category"><span class='bold'>Categoria: </span> {{mOrderCtrl.pet.category.name}}</p>
			<p class="p-few-margin-bottom pet-info-category"><span class='bold'>Raça: </span> {{mOrderCtrl.pet.tags[0].name}}</p>
			<p class="p-few-margin-bottom"><span class='bold'>Idade: </span> {{mOrderCtrl.pet.tags[1].name}}</p>
			<p><span class='bold'>Sexo: </span> {{mOrderCtrl.pet.tags[2].name}}</p>
			<p class='p-few-margin-bottom'><span class='bold'>Data de entrega: </span>{{mOrderCtrl.shipDate | date:'dd/MM/yyyy'}}</p>
			<p class='inline-block'><span class='bold'>Entrega: </span>
				<div class="dropdown">
					<button class="btn btn-outline-secondary dropdown-toggle dropup" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					{{mOrderCtrl.selectedDays}}
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<span class="dropdown-item link" ng-click="mOrderCtrl.changeShipDate(3)">Em 3 dias</span>
						<span class="dropdown-item link" ng-click="mOrderCtrl.changeShipDate(4)">Em 4 dias</span>
						<span class="dropdown-item link" ng-click="mOrderCtrl.changeShipDate(5)">Em 5 dias</span>
					</div>
				</div>

			</p>
			<div class="pet-order-buy-button ">
				<button class="btn btn-secondary btn-lg" ng-click="mOrderCtrl.makeOrder()">Comprar</button>
			</div>
		</div>
	</div>
</div>