<div ng-controller='OrderPlacedController as oPlacedCtrl' class="main-div pet-title">
	<h2>Parabéns, seu pedido foi realizado!</h2>
	<h4 class="red-font">Atenção: o número da sua compra é <span class="bold">{{oPlacedCtrl.order.id}}</span>. Guarde-o para ver o status.</h4>

	<div class="pet-order-body pet-body">
		<div class="pet-order-image-div col-5 offset-1">
			<div class='div-inline-block' ng-click='oPlacedCtrl.changeImage("prev")' ng-style="oPlacedCtrl.hideArrows('prev')"><i class="left-arrow arrows fa fa-angle-left" aria-hidden="true"></i></div>
			<img ng-src="{{oPlacedCtrl.pet.photoUrls[oPlacedCtrl.photoIndex]}}" class="pet-order-image">
			<div class='div-inline-block' ng-click='oPlacedCtrl.changeImage("next")' ng-style="oPlacedCtrl.hideArrows('next')"><i class="right-arrow arrows fa fa-angle-right" aria-hidden="true"></i></div>	    	
		</div>
		<div class="pet-order-details div-inline-block col-5">
			<p class="p-few-margin-bottom"><span class='bold'>Nome: </span> {{oPlacedCtrl.pet.name}}</p>
	        <p class="pet-info-category"><span class='bold'>Categoria: </span> {{oPlacedCtrl.pet.category.name}}</p>
			<p class="p-few-margin-bottom"><span class='bold'>Raça: </span> {{oPlacedCtrl.pet.tags[0].name}}</p>
			<p class="p-few-margin-bottom"><span class='bold'>Idade: </span> {{oPlacedCtrl.pet.tags[1].name}}</p>
			<p><span class='bold'>Sexo: </span> {{oPlacedCtrl.pet.tags[2].name}}</p>
			<p class="p-few-margin-bottom"><span class='bold'>Número da compra: </span> {{oPlacedCtrl.order.id}}</p>
			<p class="p-few-margin-bottom"><span class='bold'>Data de entrega: </span> {{oPlacedCtrl.order.shipDate}}</p>
			<p class="p-few-margin-bottom pet-info-category"><span class='bold'>Status: </span> {{oPlacedCtrl.order.status}}</p>

			<div class="pet-order-buy-button ">
				<a href="#/" class="btn btn-secondary btn-lg">Ok</a>
			</div>
		</div>
	</div>
</div>