<div ng-controller='PetsController as petsCtrl' class="main-div">
	<div class="search-bar">
		<div class="input-group">
			<div class="input-group-prepend">
		    	<span class="input-group-text">
		    		<i class="fa fa-search"></i>
		    	</span>
		  	</div>
		  	<input type="text" class="form-control search-field" placeholder="Buscar..." aria-label="Buscar" ng-model="search">
			<div class="dropdown">
			  <button class="btn btn-secondary dropdown-toggle no-border-radius" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Categoria
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
			  	<span class="dropdown-item link" ng-click="petsCtrl.chooseCategory(-1)" ng-class="petsCtrl.categoriesClass[0]">- Todas -</span>
			    <span class="dropdown-item link" ng-repeat="category in petsCtrl.categories" ng-click="petsCtrl.chooseCategory($index)" ng-class="petsCtrl.categoriesClass[$index+1]">{{category}}</span>
			  </div>
			</div>
			<div class="dropdown">
			  <button class="btn btn-secondary dropdown-toggle no-border-radius" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
			    Filtros
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			  	<h6 class="dropdown-header">Idade</h6>
			    <div class="form-check pet-info-category" ng-repeat="filter in petsCtrl.filters.size">
			      <input type="checkbox" class="form-check-input" ng-click="petsCtrl.chooseFilter(filter)">
			        {{filter}}
			    </div>
			  	<h6 class="dropdown-header">Gênero</h6>
			    <div class="form-check pet-info-category" ng-repeat="filter in petsCtrl.filters.gender">
			      <input type="checkbox" class="form-check-input" ng-click="petsCtrl.chooseFilter(filter)">
			      {{filter}}
			    </div>
			  	<h6 class="dropdown-header">Raça</h6>
			    <div class="form-check pet-info-category" ng-repeat="filter in petsCtrl.filters.breed">
			      <input type="checkbox" class="form-check-input" ng-click="petsCtrl.chooseFilter(filter)">
			      {{filter}}
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<div class="store-inventory">
		<div class="row">
			<div class="col-3 pet-info-small" ng-repeat="pet in petsCtrl.filtered | slice:(currentPage-1)*8 : currentPage*8">
				<div class="pet-thumbnail-div">
					<span  ng-click="petsCtrl.changeImage(pet, true, 'prev')" ng-style="petsCtrl.hideArrows(pet, true, 'prev')"><i class="left-arrow fa fa-angle-left" aria-hidden="true"></i></span>
			    	<img ng-src="{{pet.photoUrls[pet.photoIndex]}}" class="pet-thumbnail-small">
			    	<span  ng-click="petsCtrl.changeImage(pet, true, 'next')" ng-style="petsCtrl.hideArrows(pet, true, 'next')"><i class="right-arrow fa fa-angle-right" aria-hidden="true" ></i></span>
			    </div>
		    	<p class="bold">{{pet.name}}</p>
		    	<p class="pet-info-category">{{pet.category.name}}</p>
		    	<button class="btn btn-outline-secondary pet-info-button" ng-click="petsCtrl.openPetDetailsModal(pet)">Ver detalhes</button>
		    </div>		    
		 </div>
	</div>

	<!-- if there are no pets available to display -->
	<div class="padding-3 center" ng-class='petsCtrl.noPetsAvailable'>
		Não há nenhum animal disponível.
	</div>

	<!-- Pagination -->
	<nav aria-label="Page navigation example">
	  <ul class="pagination justify-content-center" ng-model="currentPage">
	    <li class="page-item" ng-class="petsCtrl.paginationClasses[0]">
	      <span class="page-link" ng-click="petsCtrl.changePage(-1)" tabindex="-1">Anterior</span>
	    </li>
	    <li class="page-item" ng-repeat="i in petsCtrl.pages track by $index" ng-click="petsCtrl.changePage($index+1)" ng-class="petsCtrl.pages[$index]"><span class="page-link">{{$index+1}}</span></li>
	    <li class="page-item" ng-class="petsCtrl.paginationClasses[1]">
	      <span class="page-link" ng-click="petsCtrl.changePage(0)">Próximo</span>
	    </li>
	  </ul>
	</nav>

	<!-- Pet detail modal -->
	<div class="modal fade" id="petDetailsModal" tabindex="-1" role="dialog" aria-labelledby="petDetailsModal" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Detalhes do pet</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body row">
	      	<div class="pet-modal-picture col-6">
	      		<span  ng-click="petsCtrl.changeImage(petsCtrl.clickedPet, false, 'prev')" ng-style="petsCtrl.hideArrows(petsCtrl.clickedPet, false,'prev')"><i class="left-arrow fa fa-angle-left" aria-hidden="true"></i></span>
	      		<img ng-src="{{petsCtrl.clickedPet.photoUrls[petsCtrl.clickedPet.photoIndex]}}" class="pet-modal-img">
	      		<span  ng-click="petsCtrl.changeImage(petsCtrl.clickedPet, false, 'next')" ng-style="petsCtrl.hideArrows(petsCtrl.clickedPet, false,'next')"><i class="right-arrow fa fa-angle-right" aria-hidden="true" ></i></span>
	      	</div>			    	
	      	<div class="pet-modal-body col-6">
		        <p class="p-without-margin-bottom"><span class='bold'>Nome: </span> {{petsCtrl.clickedPet.name}}</p>
		        <p class="pet-info-category"><span class='bold'>Categoria: </span> {{petsCtrl.clickedPet.category.name}}</p>
				<p class="p-without-margin-bottom"><span class='bold'>Raça: </span> {{petsCtrl.clickedPet.tags[0].name}}</p>
				<p class="p-without-margin-bottom"><span class='bold'>Idade: </span> {{petsCtrl.clickedPet.tags[1].name}}</p>
				<p class="p-without-margin-bottom"><span class='bold'>Sexo: </span> {{petsCtrl.clickedPet.tags[2].name}}</p>
		    </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-outline-secondary no-border-radius" data-dismiss="modal">Fechar</button>
	        <a href="#/makeOrder/{{petsCtrl.clickedPet.id}}" ng-click="petsCtrl.closePetDetailsModal()" class="btn btn-secondary no-border-radius">Comprar</a>
	      </div>
	    </div>
	  </div>
	</div>
</div>