<div ng-controller='SearchOrderController as sOrderCtrl' class="main-div pet-title">
	<h2>Meus pedidos</h2>
	<div class="input-group mb-3 margin-top">
		<div class="input-group-prepend">
	    	<span class="input-group-text"><i class="fa fa-search"></i></span>
	  	</div>
	  	<input type="text" class="form-control" placeholder="Buscar..." ng-model="sOrderCtrl.orderId">
	</div>
	<div class='margin-top' ng-style="sOrderCtrl.showError">
		Não existem pedidos.
	</div>
	<div>
		<div class="row margin-bottom-3">
			<div class="col-6 text-left orders-body pet-body margin-top-3" ng-repeat="order in sOrderCtrl.filteredOrders">
				<div class="pet-order-image-div col-6">
					<div class='div-inline-block' ng-click='sOrderCtrl.changeImage(order.pet, "prev")' ng-style="sOrderCtrl.hideArrows(order.pet, 'prev')"><i class="left-arrow arrows fa fa-angle-left" aria-hidden="true"></i></div>
					<img ng-src="{{order.pet.photoUrls[order.pet.photoIndex]}}" class="search-order-image">
					<div class='div-inline-block' ng-click='sOrderCtrl.changeImage(order.pet,"next")' ng-style="sOrderCtrl.hideArrows(order.pet, 'next')"><i class="right-arrow arrows fa fa-angle-right" aria-hidden="true"></i></div>	
				</div>
				<div class="div-inline-block col-6 font-size-8">
					<p class="p-few-margin-bottom"><span class='bold'>Nome: </span> {{order.pet.name}}</p>
			        <p class="pet-info-category"><span class='bold'>Categoria: </span> {{order.pet.category.name}}</p>
					<p class="p-few-margin-bottom"><span class='bold'>Raça: </span> {{order.pet.tags[0].name}}</p>
					<p class="p-few-margin-bottom"><span class='bold'>Idade: </span> {{order.pet.tags[1].name}}</p>
					<p><span class='bold'>Sexo: </span> {{order.pet.tags[2].name}}</p>
					<p class="p-few-margin-bottom"><span class='bold'>Número da compra: </span> {{order.id}}</p>
					<p class="p-few-margin-bottom"><span class='bold'>Data de entrega: </span> {{order.shipDate}}</p>
					<p class="p-few-margin-bottom pet-info-category"><span class='bold'>Status: </span> <span class='order-{{order.status}}'>{{order.status}}</span></p>
				</div>
		    </div>		    
		 </div>
	</div>
</div>